.product-container {
  margin: 0 auto;
  min-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  .product-details-box {
    padding: 20px 40px;
    border: 1px solid $dark;
    box-shadow: 1px 1px 6px $dark;
  }
  .product-name {
    text-align: center;
  }
  .product-details-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .product-details-info-company {
      margin-right: 40px;
    }
    .product-details-info-cost {
      margin-right: 40px;
    }
  }
}

@media (max-width: 1250px) {
  .product-container {
    min-width: 700px;
  }
}

@media (max-width: 720px) {
  .product-container {
    min-width: 320px;
    .product-details-box {
      padding: 10px 20px;
    }
    .product-details-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      margin-top: 20px;
      .product-details-info-company {
        margin-right: 0px;
      }
      .product-details-info-cost {
        margin-right: 0px;
      }
    }
  }
}

@media (max-width: 420px) {
  .product-container {
    min-width: 280px;
    .product-details-box {
      padding: 10px 20px;
    }
    .product-name {
      text-align: center;
      font-size: 16px;
    }
  }
}
