// colors
$dark: rgb(0, 0, 0);
$light: rgb(255, 255, 255);
$muted: rgb(100, 100, 100);
$success: rgb(0, 183, 74);
$success-hover: rgb(29, 155, 79);
$error: rgb(255, 0, 0);
$error-hover: rgb(221, 23, 23);
$primary: rgb(0, 0, 255);
$primary-hover: rgb(64, 64, 255);
